@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Secular+One&display=swap');

section{
    font-family: 'Merriweather Sans', sans-serif;
}
    
input{
    border: 3px solid CornflowerBlue;
    border-radius: 10px;
    outline: none;
    background-color: white;
    color: CornflowerBlue;
    font-size: 15px;
    padding: 5px;
    font-family: 'Merriweather Sans', sans-serif;
    transition: all 0.4s ease-in-out;
}
input:hover{
    background: white;
    color: CornflowerBlue;
    font-size: 15px;
    padding: 7px;
}
input[type="submit"]{
    cursor: pointer;
}
.buttonsubmit{
    border: 3px solid CornflowerBlue;
    border-radius: 10px;
    outline: none;
    background-color: white;
    color: CornflowerBlue;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    transition: all 0.4s ease-in-out;
}

.buttonsubmit:hover{
    background: CornflowerBlue;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}

.phrase_erreur{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}